{% extends "base.html" %}

{% block title %}Meu Painel{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css" rel="stylesheet">
{% endblock %}
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/user/dashboard.js') }}" defer></script>
{% endblock %}

{% block content %}
    <header>
        <h1>Área do Usuário</h1>
        <h2>Bem-vindo(a), {{ user.name }}!</h2>
        <hr>
    </header>
    <main>
        <section id="dashboard_section__userInfo" class="cards-container">
            <h3>Informações da Conta</h3>
            <p><strong>Nome:</strong> {{ user.name }}</p>
            <p><strong>Data de Criação:</strong> {{ user.created_at.strftime('%d/%m/%Y') }}</p>
            <div class="userInfo__buttons">
                <a href="{{ url_for('user.update_user', user_id=user.id) }}" id="btnAlterUser" class="btn">Alterar Informações</a>
                <form action="{{ url_for('user.delete_user', user_id=user.id) }}" method="POST" style="display:inline;">
                    <button id="btnDeleteUser" onclick="return confirm('Tem certeza que deseja excluir sua conta?');">Excluir Conta</button>
                </form>
            </div>
        </section>
        <hr>

        <section id="dashboard_section__tasks" class="cards-container">
            <h3>Suas Rotinas</h3>
            <div id="calendar"></div>
            <br>
            <a href="{{ url_for('task.create_task') }}">Criar Nova Rotina</a>
        </section>
        <hr>

        <a href="{{ url_for('user.logout') }}" class="exit">Sair da Conta</a>
    </main>
    <div id="rotinas-data" data-rotinas='{{ rotinas_json | tojson }}' hidden></div>
    <div id="modal" class="modal">
    <div class="modal__box">
        <div class="modal__header">
            <h3 id="modal-title"></h3>
            <button id="modal-close">&times;</button>
        </div>
        <div id="modal-body" class="modal__body"></div>
    </div>
</div>
{% endblock %}