{% extends "base.html" %}

{% block title %}Editar Rotina{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task/forms.css') }}">
{% endblock %}

{% block content %}
    <main>
        <h1>Editar Rotina</h1>
        <div class="cards-container">
            <form method="POST" class="form-task" action="{{ url_for('task.update_task', task_id=task.id) }}">
            
                <div>
                    <label for="name">Nome da Rotina*:</label><br>
                    <input type="text" id="name" name="name" maxlength="60" value="{{ task.name }}" required>
                </div>
                <br>
                
                <div>
                    <label for="description">Descrição:</label><br>
                    <textarea id="description" name="description" maxlength="255" rows="3" cols="30">{{ task.description or '' }}</textarea>
                </div>
                <br>
                <div>
                    <label>Horário*:</label><br>
                    <div class="time-group">
                        <input type="time" id="startTime" name="startTime" required
                            value="{{ task.startTime.strftime('%H:%M') if task.startTime else '' }}">
                        <span>até</span>
                        <input type="time" id="endTime" name="endTime" required
                            value="{{ task.endTime.strftime('%H:%M') if task.endTime else '' }}">
                    </div>
                </div>
                <br>

                <div>
                    <label for="task_date">Data da Rotina*:</label>
                <input type="date" id="task_date" name="date" required value="{{ task.date.strftime('%Y-%m-%d') if task.date else '' }}">
                </div>
                <br>

                <button type="submit">Salvar Alterações</button>
                <a href="{{ url_for('user.dashboard') }}">Cancelar</a>
                
            </form>
        </div>
    </main>
{% endblock %}