{% extends "base.html" %}

{% block title %}Criar Nova Rotina{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task/register.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1>Criar Nova Rotina</h1>
    
    <form method="POST" action="{{ url_for('task.create_task') }}" class="form-task">
        
        <div>
            <label for="name">Nome da Rotina*:</label><br>
            <input type="text" id="name" name="name" maxlength="60" required>
        </div>
        <br>
        
        <div>
            <label for="description">Descrição (Detalhes da atividade):</label><br>
            <textarea id="description" name="description" maxlength="255" rows="3" cols="30"></textarea>
        </div>
        <br>

        <div>
            <label for="startTime">Início*:</label><br>
            <input type="time" id="startTime" name="startTime" required>
        </div>
        <br>
        
        <div>
            <label for="endTime">Fim*:</label><br>
            <input type="time" id="endTime" name="endTime" required>
        </div>
        <br>
        <div>
            <label for="weakday">Dia da Semana*:</label><br>
            <select id="weakday" name="weakday" required>
                <option value="">Selecione um dia</option>
                <option value="MONDAY">Segunda-feira</option>
                <option value="TUESDAY">Terça-feira</option>
                <option value="WEDNESDAY">Quarta-feira</option>
                <option value="THURSDAY">Quinta-feira</option>
                <option value="FRIDAY">Sexta-feira</option>
                <option value="SATURDAY">Sábado</option>
                <option value="SUNDAY">Domingo</option>
            </select>
        </div>
        <br>
        <button type="submit">Guardar Rotina</button>
        <a href="{{ url_for('user.dashboard') }}">Cancelar</a>
        
    </form>
</main>
{% endblock %}