{% extends "base.html" %}

{% block title %}Criar Nova Rotina{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/task/forms.css') }}">
{% endblock %}
{% block content %}
<main>
    <h1>Criar Nova Rotina</h1>
    <div class="cards-container">
        <form method="POST" action="{{ url_for('task.create_task') }}" class="form-task">
            
            <div>
                <label for="name">Nome da Rotina*:</label><br>
                <input type="text" id="name" name="name" maxlength="60" required placeholder="De um nome para sua rotina">
            </div>
            <br>
            
            <div>
                <label for="description">Descrição:</label><br>
                <textarea id="description" name="description" maxlength="255" rows="3" cols="30" placeholder="Detalhes da atividade"></textarea>
            </div>
            <br>

            <div>
                <label>Horário*:</label><br>
                <div class="time-group">
                    <input type="time" id="startTime" name="startTime" required>
                    <span>até</span>
                    <input type="time" id="endTime" name="endTime" required>
                </div>
            </div>
            <br>
            <div>
                <label for="task_date">Data da Rotina*:</label>
                <input type="date" id="task_date" name="date" required>
            </div>
            <br>
            <div id="form-buttons">
                <button type="submit">Guardar Rotina</button>
                <a href="{{ url_for('user.dashboard') }}">Cancelar</a>
            </div>
            
            
        </form>
    </div>
</main>
{% endblock %}